/* #region Global */

:root {
  /* Color Variables */
  --cl-iris: rgb(77, 90, 229);
  --cl-ocean: rgb(64, 75, 191);
  --cl-navy-blue: rgb(46, 47, 66);
  --cl-green: rgb(49, 208, 170);
  --cl-slate: rgb(67, 68, 85);
  --cl-light-slate: rgb(142, 143, 153);
  --cl-cornflower: rgb(231, 233, 252);
  --cl-cloud: rgb(244, 244, 253);
  --cl-dairy-FCFCFC: rgb(252, 252, 252);
  --cl-white: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;

  color: var(--cl-slate);
  background-color: var(--cl-white);
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* #endregion */

/* #region Common */

.section {
  padding: 120px 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  text-align: center;
  text-transform: capitalize;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--cl-navy-blue);
}

.logo {
  display: inline-block;

  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cl-iris);
}

.logo-dark {
  color: var(--cl-navy-blue);
}

.logo-light {
  color: var(--cl-cloud);
}

.btn {
  background: var(--cl-iris);

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--cl-white);
}

.btn:hover,
.btn:focus {
  background: var(--cl-ocean);
}

/* #endregion */

/* #region Layout: Header */

.header {
  padding: 24px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  gap: 76px;
}

.header-logo {
}

.header-nav-list {
  display: flex;
  gap: 40px;
}

.header-nav-item {
}

.header-nav-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--cl-navy-blue);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--cl-ocean);
}

.header-adress {
}

.header-adress-list {
  display: flex;
  gap: 40px;
}

.header-adress-item {
}

.header-adress-link {
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--cl-slate);
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: var(--cl-ocean);
}

/* #endregion */

/* #region Layout: Hero */

.hero {
  background: var(--cl-navy-blue);
  padding: 188px 0;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}

.hero-title {
  width: 496px;

  text-align: center;

  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: var(--cl-white);
}

.hero-btn {
  padding: 16px 32px;
}

/* #endregion */

/* #region Layout: Values */

.values {
}

.values-container {
}

.values-title {
}

.values-list {
  display: flex;
  justify-content: space-between;
}

.values-item {
  width: 264px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.values-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--cl-navy-blue);
}

.values-item-caption {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion */

/* #region Layout: Team */

.team {
  background-color: var(--cl-cloud);
}

.team-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-title {
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-item {
  display: flex;
  flex-direction: column;

  width: 264px;
  border-radius: 4px;
  overflow: hidden;

  background-color: var(--cl-white);

  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.team-item-img {
}

.team-item-caption {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 32px;
}

.team-item-name {
  text-align: center;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--cl-navy-blue);
}

.team-item-position {
  text-align: center;

  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion */

/* #region Layout: Portfolio */

.portfolio {
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.portfolio-title {
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: 360px;
}

.portfolio-image {
}

.portfolio-caption {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 32px 16px;

  border: 1px solid var(--cl-cornflower);
  border-top: none;
}

.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--cl-navy-blue);
}

.portfolio-desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* #endregion */

/* #region Layout: Footer */

.footer {
  padding: 100px 0;

  background: var(--cl-navy-blue);
}

.footer-container {
}

.footer-logo {
  margin-bottom: 16px;
}

.footer-desc {
  width: 264px;

  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--cl-cloud);
}

/* #endregion */
